.tier {
  border-bottom: 1px solid black;
}

.city-list {
  display: flex;
  flex-flow: wrap;
}

.tier-city {
  padding: 10px;
}

.prob {
  padding-right: 10px;
}

li {
  list-style: none;
}

body {
  background-color: #eee;
  font-family: sans-serif;
}
